<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
    <ion-buttons *ngIf="isLoggedIn" end>
      <button ion-button (click)="goToLogin()">Logout</button>
    </ion-buttons>
    <ion-buttons *ngIf="!isLoggedIn" end>
      <button ion-button (click)="goToLogin()">Login</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <agm-map [latitude]="map.lat" [longitude]="map.lng" (mapClick)="mapClick($event)" [zoom]="map.zoom">
    <agm-marker *ngFor="let pothole of potholes; let i = index" 
                [latitude]="pothole.coordinates.latitude" 
                [longitude]="pothole.coordinates.longitude" 
                [iconUrl]="markerColorMap[pothole.severity]"
                (markerClick)="markerClick(pothole)"></agm-marker>
  </agm-map>
</ion-content>
